*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #29abe2, #005bbc);
  background-size: cover; }

.heading-primary {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 3.7vw; }
  .heading-primary--main {
    display: block; }
  .heading-primary--sub {
    display: block;
    line-height: 1.1; }
  .heading-primary--gradient {
    font-size: 5.5vw;
    font-weight: 700;
    display: block;
    background-image: linear-gradient(to right, #1868ed, #662d91);
    color: black;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .heading-primary span {
    display: block; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-font-size-big {
  font-size: 10rem; }

.btn {
  color: white;
  padding: .5rem .9rem;
  background-image: linear-gradient(to right, #29abe2, #005bbc);
  border-radius: 2rem; }

.header {
  height: 95vh; }
  .header__nav {
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 8vh;
    min-height: 5.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: white; }
    .header__nav-img {
      width: 5rem; }
    .header__nav-text {
      font-size: 2rem;
      font-weight: 400; }
      .header__nav-text a {
        margin: 0 1.5rem;
        text-decoration: none; }
        .header__nav-text a:not(:last-child) {
          color: black; }
        .header__nav-text a:nth-child(5) {
          font-size: 1.5rem;
          margin: 0 3rem 0 0; }
        .header__nav-text a:nth-child(6) {
          font-weight: 600;
          padding-left: 3rem;
          margin: 0;
          border-left: 3px solid #29abe2;
          background-image: linear-gradient(to bottom, #29abe2, #005bbc);
          color: black;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent; }
      .header__nav-text-img {
        margin-left: 4rem; }
  .header__container {
    position: relative;
    height: 87vh; }
    .header__container-line {
      position: absolute;
      z-index: -1; }
    .header__container-board {
      position: relative;
      width: 45%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .header__container-board-img {
        width: 100%; }
    .header__container-text {
      width: 100%;
      padding: 3rem 5rem;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center; }
    .header__container-try {
      position: absolute;
      left: 15rem;
      top: 4rem; }
      .header__container-try-arr {
        position: absolute;
        left: 33rem;
        top: 30rem; }
    .header__container-click {
      position: absolute;
      right: 15rem;
      bottom: 12rem; }
      .header__container-click-arr {
        position: absolute;
        right: 35rem;
        bottom: 32rem; }
