@keyframes smoothShake {
    0% {
        
    } 20% {
        transform: translate(-3%, -3%);
    } 40% {
        transform: translate(3%, -2%);
    } 60% {
        transform: translate(-3%, 3%);
    } 80% {
        transform: translate(1%, 2%);
    } 100% {
        transform: translate(0, 0);
    }
}

@keyframes color {
    0%,
    100%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}

@keyframes colorText {
    0%,
    100%{
        background-position: 100% 50%;
    }
    50%{
        background-position: 0 50%;
    }
}