@keyframes smoothShake {
    0% {
        
    } 20% {
        transform: translate(-3%, -3%);
    } 40% {
        transform: translate(3%, -2%);
    } 60% {
        transform: translate(-3%, 3%);
    } 80% {
        transform: translate(1%, 2%);
    } 100% {
        transform: translate(0, 0);
    }
}

@keyframes color {
    0%,
    100%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}

@keyframes colorText {
    0%,
    100%{
        background-position: 100% 50%;
    }
    50%{
        background-position: 0 50%;
    }
}

@keyframes clickBoard {
    0%,
    45%,
    55%,
    100%{
        // transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

    } 50% {
        // transform: translate(-52%, -48%);
        top: 51%;
        left: 49%;

    }
}

@keyframes clickShade {
    0%,
    45%,
    55%,
    100%{
        // transform: translate(-2%, 2%);
        top: 0;
        left: 0;
    } 50% {
        // transform: translate(0, 0);
        top: -2%;
        left: 2%;
    }
}

@keyframes stroke {
    from {
        stroke-dashoffset: 3000;
        stroke-dasharray: 3000;
    } to {
        stroke-dashoffset: 40;
        stroke-dasharray: 40;
    }
}

@keyframes typeWritter {
    to {
        left: 100%;
    }
}

// @keyframes blink {
//     to {
//         background-color: transparent;
//     }
// }

@keyframes scaleText {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.08);
    } 100% {
        transform: scale(1);
        opacity: 1;
    }
}