.heading-primary {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 3.2vw;

    &--main {
        display: block;
    }

    &--sub {
        display: block;
        line-height: 1.1;
    }

    &--gradient {
        font-size: 5vw;
        font-weight: 700;
        display: block;
        color: black;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .3s ease-in-out;
        background-size: 200% 200%;
        animation: colorText 5s ease-out;
        animation-iteration-count: infinite;
        background-image: $gradient-text-lighter;
    }

    span {
        display: block;
    }
}