// MARGINS

.u-margin-bottom-medium { margin-bottom: 5rem; }
.u-margin-bottom-big-res { margin-bottom: 6vw }
.u-margin-bottom-medium-res { margin-bottom: 6vw }

.u-margin-top-medium { margin-top: 3rem; }
.u-margin-top-small { margin-top: 2.5rem; }
.u-margin-top-small-res { margin-top: .5vw; }

// FONT-SIZE

.u-font-size-big { font-size: 10rem; }