// MARGINS

.u-margin-bottom-medium { margin-bottom: 5rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-top-medium { margin-top: 3rem; }
.u-margin-top-small { margin-top: 2rem; }

// FONT-SIZE

.u-font-size-big { font-size: 10rem; }